.center {
    margin: auto;
}

.pointer-cursor {
    cursor: pointer;
}

.fill-remaining-space {
    flex: 1 1 auto;
}
a {
    color: white;
}
a:link , a:visited , a:hover, a:active  {
    text-decoration: none;
}
